@model hotel.Models.RoomsViewModel
@{
    ViewBag.Title = "Rooms";
}

<main>

    <!-- slider Area Start-->
    <div class="slider-area">
        <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/img/hero/roomspage_hero.jpg">
            <div class="container">
                <div class="row ">
                    <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                        <div class="hero-caption">
                            <span>@ViewBag.Title</span>
                            <h2>@ViewBag.Title avaible</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->
    <!-- Room Start -->

    <section class="room-area r-padding1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <!--font-back-tittle  -->
                    <div class="font-back-tittle mb-45">
                        <div class="archivment-front">
                            <h3>Rooms Avaible</h3>
                        </div>
                        <h3 class="archivment-back">Rooms Avaible From @ViewBag.DateDb to @ViewBag.DateFin </h3>
                    </div>
                </div>
            </div>
            Date : 
            <div class="row">
                @foreach (hotel.Models.RoomCardModel item in Model.ListRoomCard)
                {
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!-- Single Room -->
                        <div class="single-room mb-50">
                            <div class="room-img">
                                <a href="@Url.Action("RoomDetails", "Home", new { idChambre = item.IdChambre })"> <img src="/img/rooms/@item.PhotoChambre" alt=""></a>
                            </div>
                            <div class="room-caption">
                                <h3>
                                    <a href="@Url.Action("RoomDetails", "Home", new {idChambre = item.IdChambre})">@item.NomCategorie</a>
                                </h3>
                                <h5>Capacity : @item.Capacite</h5>

                                <h5>N° : @item.NumeroChambre</h5>
                                <div class="per-night">
                                    <span><u>$</u>@item.Prix <span>/ par night</span></span>
                                </div>
                                <div class="room-btn pt-30">
                                    <a href="@Url.Action("Booking","Membre/Home", new {idChambre = item.IdChambre, dateDeb = @ViewBag.DateDb, dateFin = @ViewBag.DateFin })" class="btn view-btn1">View more  <i class="ti-angle-right"></i> </a>
                                </div>
                            </div>
                            ~/Membre/Home/Booking
                        </div>
                    </div>
                }
            </div>

        </div>

    </section>

    <!-- Room End -->
    <!-- Gallery img Start-->
    @{
        Html.RenderPartial("~/Views/Shared/_slider.cshtml", Model.RoomSlider);
    }
    <!-- Gallery img End-->
</main>

