@model hotel.Models.SingleBlogViewModel
@{
    ViewBag.Title = "SingleBlog";
}

<!-- slider Area Start-->
<div class="slider-area">
    <div class="single-slider hero-overly slider-height2 d-flex align-items-center" data-background="/img/hero/contact_hero.jpg">
        <div class="container">
            <div class="row ">
                <div class="col-md-11 offset-xl-1 offset-lg-1 offset-md-1">
                    <div class="hero-caption">
                        <span>Blog</span>
                        <h2>Single Blog</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="/img/blog/@Model.DetailArticle.Photo" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>
                            @Model.DetailArticle.Titre
                            @Model.DetailArticle.IdBlog
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="fa fa-user"></i> @Model.DetailArticle.Categorie</a></li>
                            <li><a href="#comments-article"><i class="fa fa-comments"></i>@Model.DetailArticle.NombreCommentaire Comments</a></li>
                        </ul>
                        <p class="excert">
                            @Model.DetailArticle.Para1
                        </p>
                        <p>
                            @Model.DetailArticle.Para2
                        </p>
                        <div class="quote-wrapper">
                            <div class="quotes">
                                @Model.DetailArticle.EvidenceTexte
                            </div>
                        </div>
                        <p>
                            @Model.DetailArticle.Para3
                        </p>
                        <p>
                            @Model.DetailArticle.Para4
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info">
                            <span class="align-middle"><i class="fa fa-heart"></i></span> Lily and @Model.DetailArticle.NombreLike1
                            people like this
                        </p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            @if (Model.DetailArticle.IdBlog > 1)
                            {
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="@Url.Action("SingleBlog", "Home", new { idArticle = Model.DetailArticle.IdBlog - 1})">
                                            <img class="img-fluid" src="/img/blog/@Model.TitrePostPrecedent.Photo" alt="" style="height: 60px; width: 60px;">
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="@Url.Action("SingleBlog", "Home", new { idArticle = Model.DetailArticle.IdBlog - 1})">
                                            <span class="lnr text-white ti-arrow-left"></span>
                                        </a>
                                    </div>
                                    <div class="detials">
                                        <p>Prev Post</p>
                                        <a href="@Url.Action("SingleBlog", "Home", new { idArticle = Model.DetailArticle.IdBlog - 1})">
                                            <h4>@Model.TitrePostPrecedent.Titre</h4>
                                        </a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">

                                </div>
                            }

                            @if (Model.DetailArticle.IdBlog < Model.MaxArticle)
                            {
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Next Post</p>
                                        <a href="@Url.Action("SingleBlog", "Home", new { idArticle = Model.DetailArticle.IdBlog + 1})">
                                            <h4>@Model.TitrePostSuivant.Titre</h4>
                                        </a>
                                    </div>
                                    <div class="arrow">
                                        <a href="@Url.Action("SingleBlog", "Home", new { idArticle = Model.DetailArticle.IdBlog + 1})">
                                            <span class="lnr text-white ti-arrow-right"></span>
                                        </a>
                                    </div>
                                    <div class="thumb">
                                        <a href="@Url.Action("SingleBlog", "Home", new { idArticle = Model.DetailArticle.IdBlog + 1})">
                                            <img class="img-fluid" src="/img/blog/@Model.TitrePostSuivant.Photo" alt="" style="height: 60px; width: 60px;">
                                        </a>
                                    </div>
                                </div>

                            }
                            else
                            {
                                <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">

                                </div>
                            }

                        </div>
                    </div>
                </div>
                <div class="blog-author">
                    <div class="media align-items-center">
                        <img src="/img/blog/@Model.DetailArticle.PhototAuteur" alt="">
                        <div class="media-body">
                            <a href="#">
                                <h4>@Model.DetailArticle.NomAuteur @Model.DetailArticle.PrenomAuteur </h4>
                            </a>
                            <p>
                                @Model.DetailArticle.TextAuteur
                            </p>
                        </div>
                    </div>
                </div>
                <div class="comments-area">
                    <h4 id="comments-article">@Model.DetailArticle.NombreCommentaire Comments</h4>

                    @foreach (hotel.Models.CommentaireModel item in Model.CommentsAricle)
                    {

                        <div class="comment-list">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="/img/comment/@item.Photo" alt="">
                                    </div>
                                    <div class="desc">
                                        <p class="comment">
                                            @item.Commentaire
                                        </p>
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <h5>
                                                    <a href="#">@item.Nom @item.Prenom</a>
                                                </h5>
                                                <p class="date">@item.DateHeureCommentaire.ToString("dd MMMM yyyy à HH:mm") </p>
                                            </div>
                                            <div class="reply-btn">
                                                <a href="#add-comments" class="btn-reply text-uppercase">reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                @if (hotel.Infra.SessionUtils.IsLogged) { 

                using(Html.BeginForm("SingleBlog", "Home", new { idArticle = Model.DetailArticle.IdBlog }, FormMethod.Post))
                {
                        @Html.AntiForgeryToken()
                        <div class="comment-form">
                            <h4 id="add-comments">Leave a Reply</h4>
                            <form class="form-contact comment_form" action="/Home/SingleBlog" method="post" id="commentForm">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-control w-100" name="Commentaire" id="comment" cols="30" rows="9"
                                    placeholder="Write Comment" required></textarea>
                                            @Html.ValidationMessageFor(model => model.AddComments.Commentaire, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>
                                <div class="form-group">
                                    <button type="submit" class="button button-contactForm btn_1 boxed-btn">Publish Comment</button>
                                </div>
                            </form>
                        </div>
                    }

                }
                else
                {
                    <div><p>Veuillez-vous connecter pour laisser un commentaire.</p></div>
                }
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    @{Html.RenderPartial("~/Views/Shared/_searchWidget.cshtml"); }
                    @{Html.RenderPartial("~/Views/Shared/_listeCategories.cshtml", Model.ListeCategoriesSB); }
                    @{Html.RenderPartial("~/Views/Shared/_recentPost.cshtml", Model.RecentPostSB); }
                    @{Html.RenderPartial("~/Views/Shared/_tagCloud.cshtml", Model.TagCloudSB); }
                    @{Html.RenderPartial("~/Views/Shared/_instaPost.cshtml", Model.InstaPostSB); }
                    @{Html.RenderPartial("~/Views/Shared/_newsletterWidget.cshtml");
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Blog Area end =================-->


<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        disableDaysOfWeek: [0, 0],
        //     icons: {
        //      rightIcon: '<span class="fa fa-caret-down"></span>'
        //  }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

    });
    var timepicker = $('#timepicker').timepicker({
        format: 'HH.MM'
    });
</script>

