@model hotel.Models.MembreViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="whole-wrap">
    <div class="container box_1170">
        <div class="section-top-border">

            <h2>Zone Membre</h2>
            <p> Bienvenue @Model.CurrentClient.Login ! </p>


            <div class="container">


                <div class="fa-pull-left">

                    <a class="btn btn-primary" href="/Membre/Home/ModifierInfos">Modifier mon profil</a>
                    <a class="btn btn-primary" href="/Membre/Home/Booking">Booking</a> <br>


                </div>
                <div class="pull-right">
                    <div class="row">

                        <div>
                            <div class="image-holder">
                                <img src="~/img/comment/@Model.CurrentClient.Photo" class="img-responsive">

                            </div>
                            <h4>Login : @Model.CurrentClient.Login</h4>
                            <h4>Nom : @Model.CurrentClient.Nom</h4>
                            <h4>
                                Prenom : @Model.CurrentClient.Prenom
                            </h4>

                            <a class="btn btn-primary" href="/Membre/Home/ModifierInfos">Modifier</a>
                        </div>

                    </div>

                </div>
            </div>


            <br />
            <hr />
            <br />
            <h3>Mes réservations</h3>

            @foreach (Hotel.Models.ReservationModel item in Model.Rm)
            {
                if (item.Login == hotel.Infra.SessionUtils.ConnectedUser.Login)
                {
                    <div class="card">
                        <h5 class="card-header">@item.Typechambre du @item.Datedebut  au @item.Datefin .</h5>
                        <div class="card-body">
                            <img src="~/img/gallery/@item.Photochambre" />

                            <p class="card-text">Chambre réservée le @item.Datereservation pour @item.Nombreadulte adulte(s) et @item.Nombreenfant enfant(s).</p>
                            <p>Prix de la chambre : @item.Prix</p>

                        </div>
                    </div>

                }



            }

            <hr />



            <h3>Commentaires</h3>

            <h4>Commentaires blog</h4>


            <hr />

            <h3>Note Séjour</h3>




        </div>
    </div>
</div>
